<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Inventário</title>
</head>

<body>
    <h1>CONPAQ</h1>
    <div>
        <h2>Dados da Tabela Inventarios:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Colaborador</th>
                    <th>Patrimonio</th>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Serie</th>
                    <th>Modelo</th>
                    <th>Entrada</th>
                    <th>Saida</th>
                </tr>
            </thead>
            <tbody>
                <% dadosInventarios.forEach(dado=> { %>
                    <tr>
                        <td>
                            <%= dado.id %>
                        </td>
                        <td>
                            <%= dado.Colaborador %>
                        </td>
                        <td>
                            <%= dado.Patrimonio %>
                        </td>
                        <td>
                            <%= dado.Produto %>
                        </td>
                        <td>
                            <%= dado.Marca %>
                        </td>
                        <td>
                            <%= dado.Serie %>
                        </td>
                        <td>
                            <%= dado.Modelo %>
                        </td>
                        <td>
                            <%= dado.Entrada %>
                        </td>
                        <td>
                            <%= dado.Saida %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>